@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/ttcommons-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/ttcommons-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/baskerville.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


:root {
  --mono-spacing: 0.1em;
  --arrow-size: 30px;
  --letterspacing: 0.0em;
  --letterspacing-small: 0.25em;
  --letterspacing-medium: 0.5em;
  --letterspacing-large: 1em;
  --heading: 'TT Commons', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --body-font: 'Baskerville', 'Georgia', serif;
}


body {
  font-family: var(--body-font);
  line-height: 1.3;
  letter-spacing: 0.005em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  font-weight: 500;
  margin-bottom: 0em;
}

.rte > *:not(:last-child) {
  margin-bottom: var(--pad-1);
}

.button {
  border: 1px solid var(--color-text);
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  font-size: var(--heading);
}
.button:hover {
  background: var(--color-text);
  color: var(--color-bg);
}

.heading {
  font-weight: 400;
  letter-spacing: 0px;
  font-family: var(--heading);
}
footer, header {
  font-family: var(--heading);
}




.arrow {
  display: inline-block;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform-origin: center;
  position:relative;
  transition: transform 0.6s ease;
}
*:hover > .arrow {
  transform: scaleX(.75);
}
.arrow:before, 
.arrow:after {
  content: '';
  display: block;
}
.arrow:before {
  width: var(--arrow-size);
  height: var(--arrow-size);
  left: calc(var(--arrow-size) / 2 - 1px);
  top: 0px;
  border-left: 1px solid currentColor;
  position: absolute
}
.arrow:after {
  width: calc(var(--arrow-size) / 1.75);
  height: calc(var(--arrow-size) / 1.75);
  left: calc(var(--arrow-size) / 5);
  top: calc(var(--arrow-size) / 10);
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  transform: rotate(135deg);
  position: absolute;
  transform-origin: center;
}
.arrow.arrow-right {
  transform: rotate(90deg) scaleX(.75);
}


/* ---------------------------------
LARGE TITLES
--------------------------------- */ 


.h1     { line-height: 1.0; }
.h2     { line-height: 1.2; }
.h3     { line-height: 1.125; }
.h4     { line-height: 1.2; }
.h5     { line-height: 1.2; }
.h6     { line-height: 1.2; }
.h7     { line-height: 1.2; }
body    { line-height: 1.2; }
.rte    { line-height: 1.2; }

.h0, .rte .h0 { font-size: var(--h0); }
.h1, .rte h1 { font-size: var(--h1); font-family: var(--body); }
.h2, .rte h2 { font-size: var(--h2); font-family: var(--body); }
.h3, .rte h3 { font-size: var(--h3); font-family: var(--heading); text-transform: uppercase; font-weight: 500; letter-spacing: 0.05em; }
.h4, .rte h4 { font-size: var(--h4); font-family: var(--heading); text-transform: uppercase; font-weight: 500; letter-spacing: 0.05em; }
.h5, .rte h5 { font-size: var(--h5); font-family: var(--heading); text-transform: uppercase; font-weight: 500; letter-spacing: 0.05em; }
.h6, .rte h6 { font-size: var(--h6); font-family: var(--heading); text-transform: uppercase; font-weight: 400; letter-spacing: 0.05em; }
.h7, .rte h7 { font-size: var(--h7); font-family: var(--body); font-weight: 400; }
.h8, .rte h8 { font-size: var(--h8); font-family: var(--heading); text-transform: uppercase; font-weight: 400; letter-spacing: 0.05em;}
body         { font-size: var(--body); }

.rte .sanity-blocks  {
  display: flex;
  flex-direction: column;
  gap: var(--pad-1);
}

:root {
  --unit: 10px;
  --h1: clamp(30px, 3.6vw, 52px); /* 52px */
  --h2: calc(var(--unit) * 3.8); /* 38px */  
  --h3: calc(var(--unit) * 2.0); /* 20px */
  --h4: clamp(16px, 1.45vw, 20px); /* 16px */
  --h5: clamp(13px, 1.12vw, 16px); /* 14px */
  --h6:  clamp(13px, 1vw, 14px); /* 12px */
  --h7: clamp(12px, 1vw, 14px); /* 12px */
  --h8: 13px; /* 10px */
  --body: clamp(14px, 1.12vw, 16px); /* 14px */
}

@media (min-width: 1000px) {
  :root {
    --unit: 1vw;
  }
}
@media (min-width: 1800px) {
  :root {
    --unit: 18px;
  }
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
}


.medium {
  font-weight: 500;
}
.text-center {
  text-align: center;
}




.uppercase {
  text-transform:uppercase;
}
.small-spacing {
  letter-spacing: var(--letterspacing-small);
}
.medium-spacing {
  letter-spacing: var(--letterspacing-medium);
}
.large-spacing {
  letter-spacing: var(--letterspacing-large);
}
.transform-none {
  text-transform: none;
}
.sanity-blocks {
  font-weight: 400;
}
.sanity-blocks strong, .sanity-blocks b {
  font-weight: 700;
}