@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/ttcommons-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/ttcommons-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/baskerville.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


:root {
  --mono-spacing: 0.1em;
  --arrow-size: 30px;
  --letterspacing: 0.0em;
  --letterspacing-small: 0.25em;
  --letterspacing-medium: 0.5em;
  --letterspacing-large: 1em;
  --heading: 'TT Commons', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --body-font: 'Baskerville', 'Georgia', serif;
}


body {
  font-family: var(--body-font);
  line-height: 1.2;
  letter-spacing: 0.01em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  font-weight: 500;
  margin-bottom: 0em;
}

.rte > *:not(:last-child) {
  margin-bottom: var(--pad-1);
}

.button {
  border: 1px solid var(--color-text);
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 50px;
  font-size: var(--heading);
}
.button:hover {
  background: var(--color-text);
  color: var(--color-bg);
}

.heading {
  font-weight: 400;
  letter-spacing: 0px;
  font-family: var(--heading);
}
footer, header {
  font-family: var(--heading);
}




.arrow {
  display: inline-block;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform-origin: center;
  position:relative;
  transition: transform 0.6s ease;
}
*:hover > .arrow {
  transform: scaleX(.75);
}
.arrow:before, 
.arrow:after {
  content: '';
  display: block;
}
.arrow:before {
  width: var(--arrow-size);
  height: var(--arrow-size);
  left: calc(var(--arrow-size) / 2 - 1px);
  top: 0px;
  border-left: 1px solid currentColor;
  position: absolute
}
.arrow:after {
  width: calc(var(--arrow-size) / 1.75);
  height: calc(var(--arrow-size) / 1.75);
  left: calc(var(--arrow-size) / 5);
  top: calc(var(--arrow-size) / 10);
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  transform: rotate(135deg);
  position: absolute;
  transform-origin: center;
}
.arrow.arrow-right {
  transform: rotate(90deg) scaleX(.75);
}


/* ---------------------------------
LARGE TITLES
--------------------------------- */ 


.h1     { line-height: 1.0; }
.h2     { line-height: 1.2; }
.h3     { line-height: 1.125; }
.h4     { line-height: 1.2; }
.h5     { line-height: 1.2; }
.h6     { line-height: 1.2; }
.h7     { line-height: 1.2; }
body    { line-height: 1.2; }
.rte    { line-height: 1.2; }

.h0, .rte .h0 { font-size: var(--h0); }
.h1, .rte h1 { font-size: var(--h1); }
.h2, .rte h2 { font-size: var(--h2); }
.h3, .rte h3 { font-size: var(--h3); }
.h4, .rte h4 { font-size: var(--h4); }
.h5, .rte h5 { font-size: var(--h5); text-transform: uppercase; font-weight: 500; }
.h6, .rte h6 { font-size: var(--h6); text-transform: none; font-weight: 400;      }
.h7, .rte h7 { font-size: var(--h7); text-transform: uppercase; }
body         { font-size: var(--body); }

:root {
  --unit-reference: 1600;
  --min-h6: 12px;
  --h0: 4.7vw;
  --h1: calc((48 / (var(--unit-reference) / 100)) * var(--unit));
  --h2: calc((35 / (var(--unit-reference) / 100)) * var(--unit));
  --h3: calc((32 / (var(--unit-reference) / 100)) * var(--unit));
  --h4: clamp(14px, calc((25 / (var(--unit-reference) / 100)) * var(--unit)), 80px);
  --h5: 12px;
  --h6: 12px;
  --h7: 12px;
  --body: 14px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
}


.medium {
  font-weight: 500;
}
.text-center {
  text-align: center;
}




.uppercase {
  text-transform:uppercase;
}
.small-spacing {
  letter-spacing: var(--letterspacing-small);
}
.medium-spacing {
  letter-spacing: var(--letterspacing-medium);
}
.large-spacing {
  letter-spacing: var(--letterspacing-large);
}
.transform-none {
  text-transform: none;
}
.sanity-blocks {
  font-weight: 400;
}
.sanity-blocks strong, .sanity-blocks b {
  font-weight: 700;
}